        </div>
        <div class="grid-25 leftbox">
          <div align="center">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
              <div class="card-header" style="font-size: 12px;">ضمانت پرداخت با زرین پال</div>
                <div class="card-body text-primary">
                  <div align="center"><script src="https://www.zarinpal.com/webservice/TrustCode" type="text/javascript"></script></div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <footer>
        <div class="hr"></div>
        <span>Zarinpal NodeJS payment app <span class="badge badge-pill badge-secondary">version: 1.0.1</span> | Proudly powered with ExpressJS</span>
      </footer>
    </div></div>
  </body>
</html>
