<% include joint/header %>

<div align="center">
  <div class="gradienttext" style="font-size: 20px;"><span>متاسفیم! اما چیزی که میخواستید پیدا نشد! :(</span></div>
  <div class="gradienttext" style="font-size: 80px;"><span>404</span></div>
  <a href="/"><button type="button" class="btn btn-primary">بازگشت به صفحه اصلی</button></a>
</div>

<% include joint/footer %>
