<% include joint/header %>

<div class="gradienttext" style="font-size: 20px;"><span>متاسفیم خطایی پیش آمده!</span></div><br>

<%= zpError %><br>
<br><a href="/"><button type="button" class="btn btn-primary">بازگشت به صفحه اصلی</button></a>

<% include joint/footer %>
