<% include joint/header %>

<div class="gradienttext" style="font-size: 20px;"><span>پرداخت با موفقیت انجام شد.</span></div><br>

کد تراکنش: <%= zpRefID %><br>
خواهشمندیم در نگهداری کد تراکنش خود دقت لازم را به عمل آورید.<br>
همچنین اطلاعات پرداخت شما در سیستم برای بررسی های آتی ثبت شد.<br>
با سپاس<br>
<br><a href="/"><button type="button" class="btn btn-primary">بازگشت به صفحه اصلی</button></a>

<% include joint/footer %>
